{% extends "base.html" %} {% load static %} {% block title %}
<title>Pokemon home</title>
{% endblock title %} {% block content %}
<!-- Begin Page Content -->
<div class="col-lg-12 mb-4">
  <!-- Alerts -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 fw-bold text-primary">Pokemon</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive text-center tableBody">
        This is the game screen for now
        <hr class="sidebar-divider mb-4" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}