#TODO:django-location-field
#TODO:django-simple-history
beautifulsoup4==4.12.3
bleach==6.1.0
Django==4.2.13
django-allauth==0.62.1
django-celery-beat==2.6.0
django-celery-results==2.5.1
django-livereload-server==0.5.1
django-schema-graph==3.1.0
django-spaghetti-and-meatballs==0.4.2
django-user-agents==0.4.0
django_tables2==2.7.0
ipaddress==1.0.23
markdown==3.0.0
markdown-to-json==2.1.1
jinja2