{% extends "base.html" %} {% load static %} {% load custom_filters %} {% block title %}
<title>Pokemon • {{model}}</title>
{% endblock title %} 
{% block content %}
<!-- Begin Page Content -->
<!-- Topbar Search -->
<div class="container-fluid">
  <div class="card shadow mb-2">
    <div class="card-body">
      <form method="GET" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" id="searchForm">

        <div class="row">
          <div class="input-group">
              <input
                  type="text"
                  class="form-control bg-light border-0 small"
                  placeholder="Search for..."
                  aria-label="Search"
                  aria-describedby="basic-addon2"
                  name="searchQuery"
                  id="searchQuery"
              />
              <div class="input-group-append">
                  <button class="btn btn-primary" type="submit" form="searchForm">
                      <i class="fas fa-search fa-sm"></i>
                  </button>
              </div>
          </div>
          <div class="ml-3">
            {% if searchQuery %}
              <a href="{{request.get_full_path|removeFromURL:'searchQuery'|safe}}">
                <button class="btn btn-pokemon" type="button">
                  {{searchQuery}}
                  <i class="fas fa-times fa-sm"></i>
                </button>
              </a>
            {% endif %}
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row align-items-center">
        <div class="col">
          <h6 class="m-2 font-weight-bold text-primary">{{model|capfirst}}<h6>
        </div>
          {%if isAnalyst %}
          <div class="col position-absolute text-center p-4">
            <a href="/{{model|lower}}/add">
              <button class="btn btn-success">New</button>
            </a>
          </div>
          {% endif %}
        </div>       
      </div>
      <div class="card-body">
        <div class="table-responsive text-center tableBody">
          {% optimized_render_table table "table.html" pageObjects %}
          <a href="/">&larr; Back to Dashboard</a>
        </div>
      </div>
    </div>
  <script>
    function clearSearchField() {
      // Clear the value of the search input
      document.getElementById("searchQuery").value = "";
    }
  </script>
    <!-- /.container-fluid -->
{% endblock content %}

