{% extends "base.html" %} {% load static %} {% block title %}
<title>Pokemon home</title>
{% endblock title %} {% block content %}
<!-- Begin Page Content -->
<div class="col-lg-12 mb-4">
  <!-- Alerts -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Pokemon</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive text-center tableBody">
            <h2>{{Pokemon.name}}</h2>
            <br>
            {{Pokemon}}

            <img src="{% static '/img/sprites_gen1/'%}{{Pokemon.name}}.png">


        <hr class="sidebar-divider mb-4" />

        <h2>{{ Pokemon.name }}'s base moves</h2>
        <ul>
            {% for move in Pokemon.moves.all %}
                <li>{{ move }}</li>
            {% endfor %}
        </ul>


        <hr class="sidebar-divider mb-4" />

        <h2>{{ Pokemon.name }}'s learnable moves</h2>
        <ul>
            {% for learnable_move in learnable_moves %}
                <li>{{ learnable_move.move.name }} (Level {{ learnable_move.LearnableAtLevel }})</li>
            {% endfor %}
        </ul>



        <hr class="sidebar-divider mb-4" />

        <h2>{{ Pokemon.name }}'s evolution</h2>
        <ul>
            {% for evolution in evolutions %}
                <img src="{% static '/img/sprites_gen1/'%}{{evolution.evolvesTo.name}}.png">
                
                <p><strong><i class="fa fa-external-link"></i></strong> <a
                  href="/pokemon/{{evolution.evolvesTo.id}}" target="_blank">{{evolution.evolvesTo.name}} (Level {{ evolution.evolutionLevel }})  </a>
                </p>
          
      
            {% endfor %}
        </ul>


      </div>
    </div>
  </div>
</div>
{% endblock content %}